<div class="main-container">
  <div class="clock-container">
    <section class="clock">
      <div class="clock-time-container">
        <h1 class="clock-time">
          4:20:20
        </h1>
      </div>
    </section>
    <section class="form-container">
      <form class="check-in-out-form">
        <div class="input-container">
          <div>
            <label for="">Employee</label>
            <input type="text">
          </div>
          <div>
            <label for="">Password</label>
            <input type="text">
          </div>
        </div>
        <div class="buttons-container">
          <button>Check-in</button>
          <button>Check-out</button>
        </div>
      </form>
    </section>
  </div>
</div>
