$background: #d5d7d8;
$base-colo-button-blue: #9eafeb;
$base-color-input-gray: #d9d9d9;
$base-color-letters-gray: #515151;
$base-color-white: white;
$base-pink-ligth: #f49c9c;
$base-yellow-light: #f5f863;
$border-light-gray: #d9d9d9;
$border-mid-gray: #cdcdcd;
$button-bg-color: #d9d9d9;
$button-color: #696969;
$color-primary: #969696;
$font-color-gray: #656565;
$form-bg-color: #ffffff;
$form-button: #535353;
$gris-claro: #d5d7d8;
$gris-obscuro: #7b7b7b;
$h1-color: #515151;
$label-color: #696969;
$placeholder-bg-color: #d9d9d9;
$primary-color: #333;
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
